.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  width: 100vw;
}

.title {
  font-size: 25px;
}

.date-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.mat-form-field {
  width: 100%;
}

.table-container {
  position: relative;
  width: 100%;
}

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

table {
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 600px) {
  .main {
    padding: 15px;
  }

  .date-picker-container {
    padding-bottom: 10px;
  }
}
